// ==============================================
// Brand Logos
// ==============================================

brand-logos {
    display: block;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);

    background: var(--off-black) url('../img/body-bg-1.png') center no-repeat;
    background-size: cover;

    .column {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        flex: 0 0 50%;
        max-width: 50%;

        @include breakpoint(medium) {
            flex: 0 0 25%;
            max-width: 25%;
        }

        @include breakpoint(large) {
            flex: 1 1 0;
            max-width: unset;
        }
    }

    .b-logo {
        width: rem-calc(120);
        max-height: rem-calc(120);
        opacity: 0.7;
    }
}
