// ==============================================
// Breadcrumbs
// ==============================================

.woocommerce-breadcrumb {
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
    // background-color: #FFCDD2;
}
