// ==============================================
// Breadcrumbs
// ==============================================

.woocommerce-breadcrumb {
    padding: $small-spacing;
    font-size: rem-calc(14);
    // background-color: (rgba(black, 60%));

    @include breakpoint(large) {
        max-width: 50%;
    }
}
