// ==============================================
// Hero - Car Filters
// ==============================================

hero-car-filters {
    position: relative;
    display: flex;
    height: 100%;
    max-height: 600px;

    @include breakpoint(medium down) {
        height: 95vh;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0); 
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
        z-index: 2;

        @include breakpoint(large) {
            width: 50%;
        }
    }

    hero-inner {
        @extend %row;
        position: absolute;
        top: 0;
        z-index: 5;
        padding-top: rem-calc(80px);
        width: 100%;

        @include breakpoint(large) {
            padding-left: rem-calc(42px);
            padding-bottom: rem-calc(48px);
        }
    }

    hero-content {        
        @extend %column;
        color: white;

        @include breakpoint(large) {
            max-width: 50%;
        }

        @include breakpoint(xlarge) {
            max-width: 40%;
        }
    }

    .hero--heading {
        margin-bottom: $small-spacing;
        font-size: calc(69px * #{$medium-calc});
        line-height: 1.24;
        letter-spacing: 0.05em;

        @include breakpoint(large) {
            font-size: rem-calc(69);
        }
    }

    .hero--subheading {
        font-size: rem-calc(18);
        line-height: rem-calc(34);
        font-style: italic;
    }
}

// carousel
hero-images {
    display: block;
    position: relative;
    overflow: hidden;

    div {
        height: 100%;
    }

    .hero_image_carousel {
        
        .slick-track {
            display: flex;

            img {
                height: 100%;
                object-fit: cover;
            }
            
        }
    }


    // position: relative;
    // z-index: 1;
    // @extend %picture;

    // img {
    //     @extend %picture-child;
    // }

    // carousel overrides
    // margin-bottom: 0 !important;
}
