// ==============================================
// Navigation
// ==============================================

// OffCanvas
// =================================

$offMenuWidth: 100vw;

// Menu trigger to open/close off-canvas
.menu-button-container {
	position: absolute;
	top: 20px;
	right: calc(-100% + 10px);

	@include breakpoint(large) {
		display: none;
	}
}

.menu-button-trigger {
	padding: 0;
	width: 45px;
	height: 45px;
	color: var(--brand-green);
	font-size: rem-calc(13px);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	// outline: 1px dashed red;

	// &:hover,
	// &:focus {
	// 	background-color: var(--grey-50);
	// }

	.svg--bars {
		max-width: 18px;
		fill: var(--brand-green);
	}

	.svg--xmark {
		max-width: 16px;
		fill: var(--brand-green);
	}

	&[aria-expanded="false"] {
		.open {
			display: block;
		}
		.close {
			display: none;
		}
	}

	&[aria-expanded="true"] {
		.open {
			display: none;
		}
		.close {
			display: block;
		}
	}
}

// Entire container is off-canvas
.header--inner {
	@include breakpoint(medium down) {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: $offMenuWidth;
		min-height: 100vh;
		transition: all 0.3s ease-in-out;
		padding: rem-calc(50px 15px 15px);
		transform: translate3d(-$offMenuWidth, 0, 0);
		background-color: transparent;
		z-index: 0;
	}

	@include breakpoint(large) {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
}

// when opened, class applied to the body
.primary-navigation-open {
	.header--inner {
		background-color: black;

		@include breakpoint(medium down) {
			// color: var(--brand-light-blue);
			// background-color: var(--brand-dark-blue);
			transform: translate3d(0, 0, 0);
			z-index: 99;
			overflow-y: scroll;
		}
	}

	.menu-button-container {
		right: 10px;
	}
}

// Global menu styles
// =================================

// UL
.menu {
	list-style: none;
	margin: 0;
	padding: 0;

	.menu-item {
		display: block;
		padding: $small-spacing;
		color: white;
		font-weight: $semi-bold;
		font-size: rem-calc(16px);
		text-transform: uppercase;
		letter-spacing: 0.01em;

		@include breakpoint(large) {
			display: inline-block;
			padding: 0;
			padding-left: $small-spacing;
			padding-right: $large-spacing;
		}

		&:last-of-type {
			margin-right: 0;
		}

		a {
			display: inline-block;

			&:hover,
			&:focus {
				
			}
		}
	}
}

.primary-navigation-open {
	.primary--menu {
		a {
			// color: var(--brand-light-blue);

			&:hover,
			&:focus {
				// color: white;
			}
		}
	}
}

.primary--menu {
	// margin-bottom: $xlarge-spacing;

	.menu-item-has-children {
		position: relative;
		padding-right: 3px;

		.sub-menu-toggle[aria-expanded="false"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2343B143' d='M4.251 181.1C7.392 177.7 11.69 175.1 16 175.1c3.891 0 7.781 1.406 10.86 4.25l197.1 181.1l197.1-181.1c6.5-6 16.64-5.625 22.61 .9062c6 6.5 5.594 16.59-.8906 22.59l-208 192c-6.156 5.688-15.56 5.688-21.72 0l-208-192C-1.343 197.7-1.749 187.6 4.251 181.1z'/%3E%3C/svg%3E");
			background-size: 15px auto;
			background-position: 10px center;

			+ .sub-menu {
				display: none;
			}
		}

		.sub-menu-toggle[aria-expanded="true"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2343B143' d='M443.8 330.8C440.6 334.3 436.3 336 432 336c-3.891 0-7.781-1.406-10.86-4.25L224 149.8l-197.1 181.1c-6.5 6-16.64 5.625-22.61-.9062c-6-6.5-5.594-16.59 .8906-22.59l208-192c6.156-5.688 15.56-5.688 21.72 0l208 192C449.3 314.3 449.8 324.3 443.8 330.8z'/%3E%3C/svg%3E");

			+ .sub-menu {
				display: block;
			}
		}
	}

	// toggle the submenu
	.sub-menu-toggle {
		position: relative;
		right: 0;
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}

	.sub-menu {
		margin: 0;
		padding: $medium-spacing;
		width: 100%;
		// border: 1px solid var(--brand-highlight);
		border-radius: 5px;

		@include breakpoint(large) {
			position: absolute;
			left: 50%;
			top: 100%;
			min-width: 300px;
			max-width: 400px;
			transform: translateX(-50%);
			background-color: white;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			transition: all 0.5s ease;
			z-index: 88888;
		}

		@include breakpoint(xlarge) {
			min-width: max-content;
			max-width: unset;
		}

		.sub-menu {
			border: none;
		}

		.menu-item {
			display: block;
			padding-bottom: $medium-spacing;

			@include breakpoint(medium down) {
				font-size: rem-calc(24);
			}
		}

		// Sub-menu items om wide screens.
		@include breakpoint(medium down) {
			// For nested sub-menus, don't duplicate the padding
			> .menu-item > .sub-menu {
				padding: 0;
			}
		}
	}
}
