// ==============================================
// Related Products (single product view)
// ==============================================

.related.products {
    margin-top: rem-calc(50);
    padding: $small-spacing;

    > h2 {
        text-align: center;
        @extend %h1;
    }

    // UL
    .products {
        @extend %row;
        justify-content: center;
        list-style: none;
        padding: 0;

        // .woocommerce-loop-product__title {
        //     @extend %h3;
        // }
    }
}

