// ==============================================
// Scrolling Products
// ==============================================

scrolling-products {
    display: block;
    padding-top: rem-calc(35px);
    padding-bottom: rem-calc(50px);

    .h3 {
        margin-bottom: rem-calc(24px);
    }

    product-card {
        display: block;
    }

    .product--img {
        margin-bottom: $large-spacing;
    }

    .product--desc {
        // CSS Grid to control layout
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        p {
            margin-bottom: $small-spacing;
        }
    }

    .product--title {
        grid-area: 1 / 1 / 2 / 2;
    }

    .product--price {
        grid-area: 1 / 2 / 2 / 3;
        text-align: right;
    }

    .product--category {
        grid-area: 2 / 1 / 3 / 3;
        color: var(--brand-neon-green);
    }
}
