// ==============================================
// Scrolling Products
// ==============================================

scrolling-products {
    @extend %row;
    display: block;
    padding: rem-calc(50);

    .h3 {
        margin-bottom: rem-calc(24);
    }

    product-card {
        display: block;
    }

    .product--img {
        margin-bottom: $large-spacing;
    }

    .product--desc {

        p {
            margin-bottom: $small-spacing;
        }
    }

    .product--title {
        font-size: var(--size-l-2);
    }

    .product--price {
        font-size: var(--size-l-1);
        font-weight: $bold;
    }

    .product--category {
        color: var(--brand-dark-green);
    }
}
