// ==============================================
// Bar/strip for searching by car, form
// ==============================================

.search-by-car-form {

    .form-row {

        &:last-of-type {
            padding-top: 20px;
        }
    }

    select {
        width: 100%;
        background-color: var(--off-white);
        border: 0;

        @include breakpoint(xlarge) {
            max-width: 60%;
        }
    }

    [type="submit"] {
        //@extend %btn;
        background-color: transparent;
        color: var(--brand-neon-green);

        &:hover,
        &:focus {
            background-color: var(--brand-neon-green);
            color: var(--off-black);
        }
    }
}
