// ==============================================
// Bar/strip for searching by car, form
// ==============================================

.search-by-car-form {

    .form-row {

        &:last-of-type {
            padding-top: 20px;
        }
    }

    select {
        width: 100%;
        background-color: white;
        border: 0;

        @include breakpoint(xlarge) {
            max-width: 60%;
        }
    }

    [type="submit"] {
        @extend %btn;
    }
}
