.archive {
    h1 {
        padding: $large-spacing;
    }
}

.searchandfilter {
    ul {
        margin-left: -20px;
    }

    input[type=submit]{
        display: inline-block;
        padding: 10px 50px;
        height: 50px;
        font-family: $heading-font;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid var(--brand-neon-green);
        border-radius: 50px;
        cursor: pointer;
        color: var(--brand-neon-green);

        &:hover,
        &:focus {
            color: var(--off-black);
            background: var(--brand-neon-green);
        }
    }
}

.search_results {

    a {
        margin-bottom: calc(80px * #{$medium-calc});

        @include breakpoint(medium) {
            margin-bottom: rem-calc(80px);
        }

        h2 {
            text-transform: none;
            font-size: 0.85rem !important;
            text-align: left;
            line-height: 1.375;
        }
    }

    .shop-sidebar {
        .searchandfilter {
            ul {
                li:not(:last-child) {
                    margin-bottom: rem-calc(30);
                    background-color: var(--brand-neon-green);
                    padding: $large-spacing;
                    width: 100%;

                    h4 {
                        margin-bottom: $medium-spacing;
                        color: var(--off-black);
                        @extend %h5;
                    }
                }
            }
        }
    }
}