// ==============================================
// Service Highlight
// ==============================================

service-highlight {
    margin: $medium-spacing auto;
	padding: rem-calc(50);
    max-width: $global-width;

	@include breakpoint(medium down) {
        padding: rem-calc(25);
    }

	// CSS Grid
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	gap: $medium-spacing;
	grid-auto-flow: row;
	grid-template-areas:
		"highlight-img-1"
		"highlight-img-2"
		"highlight-img-3"
		"highlight-content"
		"highlight-img-4"
		"highlight-img-5"
		"highlight-img-6";
	
	@include breakpoint(medium) {
		// CSS Grid
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas:
			"highlight-img-1 highlight-img-1"
			"highlight-img-2 highlight-img-3" 
			"highlight-content highlight-content"
			"highlight-img-6 highlight-img-5" 
			"highlight-img-4 highlight-img-4";
	}

	@include breakpoint(large) {
		// CSS Grid
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"highlight-img-1 highlight-img-1 highlight-img-1 highlight-img-1"
			"highlight-img-2 highlight-img-3 highlight-content highlight-content"
			"highlight-img-4 highlight-img-4 highlight-img-5 highlight-img-6";
	}

    .highlight-img-1,
	.highlight-img-2,
    .highlight-img-3,
    .highlight-img-4,
    .highlight-img-5,
    .highlight-img-6 {
        height: 33vh;
    }


    .highlight-img-1 { 
        grid-area: highlight-img-1;

		@include breakpoint(large) {
			height: 50vh;
		}
    }

	.highlight-img-2 { 
		grid-area: highlight-img-2;
	}

	.highlight-img-3 { 
		grid-area: highlight-img-3;
	}

	.highlight-img-4 { 
		grid-area: highlight-img-4;
	}

	.highlight-img-5 { 
		grid-area: highlight-img-5;
	}

	.highlight-img-6 { 
		grid-area: highlight-img-6;
	}

    .highlight-content { 
        grid-area: highlight-content;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

		@include breakpoint(large down) {
			padding-top: $xxlarge-spacing;
			padding-bottom: $large-spacing;
			padding-left: $medium-spacing;
        	padding-right: $medium-spacing;
		}

		@include breakpoint(xlarge) {
			padding-left: rem-calc(90);
        	padding-right: rem-calc(90);
		}

        > * {
            margin-bottom: rem-calc(30);
        }

		.btn {
			background-color: var(--off-black);
			border-color: transparent;
			color: var(--brand-neon-green);

			&:hover,
			&:focus {
				color: white;
			}
		}
    }
}
