// ==============================================
// Video Feed
// ==============================================

video-feed {
    display: block;
    padding: rem-calc(50);

    @include breakpoint(medium down) {
        padding: rem-calc(30);
    }

    h2,
    p {
        flex: 1;
    }
    p {
        text-align: right;
    }

    .sby_play_btn {
        svg {
            path {
                color: #FF0000;
            }
        }
    }
}
