// ==============================================
// WooCommerce Tabs
// Used on the Single product view
// ==============================================

.woocommerce-tabs, 
.wc-tabs-wrapper {

    // UL to toggle the panels
    .tabs, 
    .wc-tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 7px;

        @include breakpoint(small down) {
            flex-direction: column;
            padding: $small-spacing;
        }

        li {
            display: flex;
            @extend %h3;
            text-transform: uppercase;
            position: relative;
            font-size: var(--size-l-1);
            flex: 0 0 20%;

            @include breakpoint(small down) {
                flex: 0 0 100%;
            }

            a {
                display: block; 
                padding: $large-spacing;
                border: 2px solid var(--off-white);
                border-bottom: none;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 100%;
                text-align: center;
                position: relative;
                top: 2px;

                @include breakpoint(small down) {
                    border: 2px solid var(--off-white);
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
            }

            &.active {
                a {
                    color: var(--brand-neon-green);
                    border: 2px solid var(--brand-neon-green);
                    border-bottom: 2px solid black;
                    z-index: 2;

                    @include breakpoint(small down) {
                        border: 2px solid var(--brand-neon-green);
                    }
                }
            }
        }
    }

    // DIVs with the content
    .woocommerce-Tabs-panel, 
    .woocommerce-Tabs-panel--description, 
    .wc-tab {
        padding: rem-calc(30px 20px);
        border-top: 2px solid var(--brand-neon-green);
        position: relative;
        z-index: 1;

        @include breakpoint(small down) {
            border: none;
        }

        &.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
            max-width: var(--grid-width);
            margin: 0 auto;
        }

        p {
            margin-bottom: $small-spacing;
			line-height: $large-spacing;
        }
    }
}
