// ==============================================
// WooCommerce Tabs
// Used on the Single product view
// ==============================================

.woocommerce-tabs, 
.wc-tabs-wrapper {

    // UL to toggle the panels
    .tabs, 
    .wc-tabs {
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid var(--brand-neon-green);

        li {
            display: flex;
            @extend %h3;
            text-transform: uppercase;
            position: relative;
            font-size: var(--size-l-1);

            a {
                display: block; 
                padding: $large-spacing;
                border: 2px solid var(--off-white);
                border-bottom: none;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 100%;
            }

            &.active {
                a {
                    color: var(--brand-neon-green);
                    border: 2px solid var(--brand-neon-green);
                    border-bottom: none;
                }
            }
        }
    }

    // DIVs with the content
    .woocommerce-Tabs-panel, 
    .woocommerce-Tabs-panel--description, 
    .wc-tab {
        padding: rem-calc(30px 20px);

        &.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
            max-width: unset;
            
        }

        p {
            margin-bottom: $small-spacing;
			line-height: $large-spacing;
        }
    }
}
