// ==============================================
// WooCommerce Grids
// ==============================================

// WooCommerce Shortcodes (used in custom Blocks)
// ==============================================


// separate styles here, else Slick slide will break
ul.products {
	@extend %row;
	// justify-content: center;
	align-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-size {
	display: none;
}

ul.products,
// UL
.featured-products {

	// Image 
	.attachment-woocommerce_thumbnail, 
	.size-woocommerce_thumbnail {
		margin-bottom: rem-calc(20px);
	}

	img {
		width:  300px;
		height: 300px;
		object-fit: cover;
		min-height:100%;
	}

	// Shop category listings
	.woocommerce-loop-category__title {
		@extend %h5;
		margin-bottom: 0;
		// font-weight: 400;
	}

	.product-category {

		img {
			margin-bottom: $large-spacing;
		}
	}

	&.columns-2,
	&.columns-3,
	&.columns-4 {

		> .product {
			flex: 0 0 100%;
			max-width: 100%;
			text-align: center;

			@include breakpoint(medium) {
				// medium-6
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}

	&.columns-3 {

		> .product {
			padding-left: 0.325rem;
			padding-right: 0.325rem;

			@include breakpoint(large) {
				// large-4
				flex: 0 0 33.33333%;
				max-width: 33.33333%;
			}

			@include breakpoint(medium down) {
				padding-left: $medium-spacing;
				padding-right: $medium-spacing;
			}
		}
	}

	&.columns-4 {

		> .product {

			padding-left: 0.325rem;
			padding-right: 0.325rem;

			@include breakpoint(large) {
				// xlarge-3
				flex: 0 0 25%;
				max-width: 25%;
			}

			@include breakpoint(medium down) {
				padding-left: $medium-spacing;
				padding-right: $medium-spacing;
			}
		}
	}

	.product {
		@extend %column;
		// small-12
		flex: 0 0 100%;
		max-width: 100%;

		// Hide button
		[data-quantity] {
			display: none;
		}

		.price {
			@extend %h5;
		}

		.star-rating {
			margin-top: 15px;
		}

		// on sale badge
		.onsale {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 50px;
			height: 50px;
			color: white;
			text-align: center;
			font-size: rem-calc(14px);
			font-weight: bold;
			line-height: 50px;
			text-transform: uppercase;
			// letter-spacing: $letter-spacing;
			background-color: darkgreen;
			border-radius: 50%;
			z-index: 5;
		}

		// A
		.woocommerce-LoopProduct-link, 
		.woocommerce-loop-product__link {
			position: relative;
			display: block;
			margin-bottom: calc(80px * #{$medium-calc});
			text-align: left;

			@include breakpoint(medium) {
				margin-bottom: rem-calc(80px);
			}
		}

		a {
			display: block;
			&:hover,
			&:focus {
	
				img {
					mix-blend-mode: multiply;
				}
			}
		}

		// IMG
		.picture {
			position: relative;
			overflow: hidden;
			height: 30vh;
			margin-bottom: $medium-spacing;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				background-color: var(--brand-neon-green);
			}

			img {
				z-index: 1;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}



		// .picture {
		// 	margin: 0 auto $large-spacing;
		// 	// aspect ratio
		// 	height: 0;
		// 	padding-top: calc(762 / 503 * 100%);
		// 	background-color: green;

		// 	img {

		// 		&:hover,
		// 		&:focus {
		// 			mix-blend-mode: multiply;
		// 		}
		// 	}
		// }

		.woocommerce-loop-product__title {
			@extend %h5;
			margin-bottom: 15px;
			// font-weight: $regular;
		}
	}
}

.price {
	display: block;
	font-weight: bold;
	font-size: var(--size-l-1) !important;

	del {
		opacity: 0.5;
	}
}


// WooCommerce Blocks
// ==============================================

// DIV
// .wc-block-grid {

// 	.wc-block-grid__product-image {
// 		margin-bottom: $large-spacing;
// 	}
	
// 	.wc-block-grid__product-title {
// 		@extend %h5;
// 		margin-bottom: 0;
// 		// font-weight: $regular;
// 		text-transform: uppercase;
// 		// letter-spacing: $letter-spacing;
// 	}

// 	.woocommerce-Price-amount {
// 		@extend %h6;
// 		font-weight: bold;
// 		color: darkgreen;

// 		del {
// 			opacity: 0.5;
// 		}
// 	}

// 	// UL
// 	.wc-block-grid__products {
// 		@extend %row;
// 		max-width: var(--grid-width);
// 		margin-right: auto;
// 		margin-left: auto;
// 		list-style: none;
// 		padding: 0;
// 	}

// 		// LI
// 		.wc-block-grid__product {
// 			@extend %column;
// 			// small-12
// 			flex: 0 0 100%;
// 			max-width: 100%;
// 		}

// 			// A
// 			.wc-block-grid__product-link {
// 				display: block;
// 			}

	
// 	&.has-2-columns {

// 		@include breakpoint(medium) {

// 			.wc-block-grid__product {
// 				// medium-6
// 				flex: 0 0 50%;
// 				max-width: 50%;
// 			}
// 		}
// 	}


// 	&.has-3-columns {

// 		@include breakpoint(medium) {

// 			.wc-block-grid__product {
// 				// medium-6
// 				flex: 0 0 50%;
// 				max-width: 50%;
// 			}
// 		}

// 		@include breakpoint(large) {

// 			.wc-block-grid__product {
// 				// large-4
// 				flex: 0 0 33.33333%;
// 				max-width: 33.33333%;
// 			}
// 		}
// 	}

	
// 	&.has-4-columns {

// 		@include breakpoint(medium) {

// 			.wc-block-grid__product {
// 				// medium-6
// 				flex: 0 0 50%;
// 				max-width: 50%;
// 			}
// 		}

// 		@include breakpoint(large) {

// 			.wc-block-grid__product {
// 				// large-4
// 				flex: 0 0 33.33333%;
// 				max-width: 33.33333%;
// 			}
// 		}

// 		@include breakpoint(xlarge) {

// 			.wc-block-grid__product {
// 				// xlarge-3
// 				flex: 0 0 25%;
// 				max-width: 25%;
// 			}
// 		}
// 	}
// }

