// Absolute URLs needed as loaded inline header.php

/* source-code-pro-200 - latin */
@font-face {
font-family: 'Source Code Pro';
font-style: normal;
font-weight: 200;
src: local(''),
		url('./fonts/source-code-pro-v22-latin-200.woff2') format('woff2'),
		url('./fonts/source-code-pro-v22-latin-200.woff') format('woff');
}
/* source-code-pro-regular - latin */
@font-face {
font-family: 'Source Code Pro';
font-style: normal;
font-weight: 400;
src: local(''),
		url('../fonts/source-code-pro-v22-latin-regular.woff2') format('woff2'),
		url('../fonts/source-code-pro-v22-latin-regular.woff') format('woff');
}
/* source-code-pro-500 - latin */
@font-face {
font-family: 'Source Code Pro';
font-style: normal;
font-weight: 500;
src: local(''),
		url('../fonts/source-code-pro-v22-latin-500.woff2') format('woff2'),
		url('../fonts/source-code-pro-v22-latin-500.woff') format('woff');
}

/* michroma-regular - latin */
@font-face {
	font-family: 'Michroma';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/michroma-v16-latin-regular.woff2') format('woff2'),
		 url('../fonts/michroma-v16-latin-regular.woff') format('woff');
}