// ==============================================
// Helper classes
// ==============================================

// Accessibility - show for screenreaders, not visually
.visuallyhidden,
.screen-reader-text {
	@extend %show-for-sr;
}

.picture {
	@extend %picture;

	img {
		@extend %picture-child;
	}
}

.edit-link {
	background-color: #097eb0; //blueocto blue
	border-radius: 3px;

	.post-edit-link {
		display: inline-block;
		color: white;
		padding: $small-spacing;
	}
}
