// ==============================================
// Helper classes
// ==============================================

body {
	color: white;
	background-color: black;
	background-image: linear-gradient(225deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%), url('../img/body-bg-1.png');
	background-position: right 2vh, right top;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto;
}

// Accessibility - show for screenreaders, not visually
.visuallyhidden,
.screen-reader-text {
	@extend %show-for-sr;
}

.picture {
	@extend %picture;

	img {
		@extend %picture-child;
	}
}

.edit-link {
	background-color: #097eb0; //blueocto blue
	border-radius: 3px;

	.post-edit-link {
		display: inline-block;
		color: white;
		padding: $small-spacing;
	}
}

.no-mt {
	margin-top: 0 !important;
}

.no-mb {
	margin-top: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

// html {
// 	border: 2px solid red;

// 	@include breakpoint(medium) {
// 		border: 2px solid orange;
// 	}

// 	@include breakpoint(large) {
// 		border: 2px solid yellow;
// 	}

// 	@include breakpoint(xlarge) {
// 		border: 2px solid blue;
// 	}

// 	@include breakpoint(xxlarge) {
// 		border: 2px solid green;
// 	}
// }
