// ==============================================
// Reset
// ==============================================

*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

:where(body) {
	block-size: -moz-available;
	block-size: -webkit-fill-available;
	block-size: stretch;
	margin: 0;
}

:where(svg, img) {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0 auto rem-calc(20px);
}

p {
	margin-top: 0;
}
