// ==============================================
// Shared Helper classes - between Admin and FE
// ==============================================

.no-margin {
	margin: 0 !important;
}

.no-mt {
	margin-top: 0 !important;
}

.no-mb {
	margin-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.has-text-align-center {
	text-align: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

// .small-h {
// 	display: block;
// 	margin-bottom: 11px;
// 	color: var(--brand-green);
// 	font-style: normal;
// 	font-weight: $semi-bold;
// 	font-size: rem-calc(14);
// 	font-family: $brand-font;
// 	text-transform: uppercase;
// 	letter-spacing: 0.13em;
// }

// .text-align-left {
// 	text-align: left;
// }

// .text-align-right {
// 	text-align: right;
// }

// .text-align-center {
// 	text-align: center;
// }
