// ==============================================
// Shared Helper classes - between Admin and FE
// ==============================================

.no-margin {
	margin: 0 !important;
}

.no-mt {
	margin-top: 0 !important;
}

.no-mb {
	margin-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.has-text-align-center {
	text-align: center;
}

.justify-content-space-between {
	justify-content: space-between;
}
