// ==============================================
// Variables
// ==============================================

$global-width: 1550px;

// Font family
$brand-font: "Source Code Pro";
$heading-font: "Michroma";

// Colors
// $brand-green-dark: darken(#43B143, 10%);

// Font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$xtra-bold: 800;

// Global padding/margin
$small-spacing: rem-calc(10px);
$medium-spacing: rem-calc(15px);
$large-spacing: rem-calc(20px);
$xlarge-spacing: rem-calc(30px);
$xxlarge-spacing: rem-calc(40px);
$xxxlarge-spacing: rem-calc(50px);

// Alerts ~ Notices

$alert-tip: #cce5ff; // blue
$alert-success: #d4edda; // green
$alert-error: #f8d7da; // red
$alert-warning: #fff3cd; // yellow
$alert-info: #d1ecf1; // teal


// SCALING PADDING or MARGINS
// ==============================================
// original design = 1360px (global-width)

// small: 0 -> (400px)  | 400 / 1340 = 0.2985074627
// medium: -> 800px 	| 800 / 1340 = 0.5970149254
// large: -> 1280px 	| 1280 / 1340 = 0.9552238806
// == above the global width =====
// xlarge: -> 1440px 	| 1440 / 1340 = 1.0746268657

$small-calc: 0.2985074627;
$medium-calc: 0.5970149254;
$large-calc: 0.9552238806;
$xlarge-calc: 1.0746268657;

// example usage
// calc(50px * #{$small-calc});
