// From block-library
// ==============================================
.wp-block-quote {
	margin: rem-calc(60px 0);
	padding-top: rem-calc(120);
	// padding: rem-calc(70px 30px 50px 30px);
	overflow-wrap: break-word;
	// background-color: var(--brand-mid-blue);
	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='553.03' height='517' viewBox='0 0 553.03 517'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bopacity:0.133;%7D.b%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg class='a' transform='translate(344.284 -241.491)'%3E%3Cpath class='b' d='M-264.24,353a74.576,74.576,0,0,0,74.493-74.487,17.233,17.233,0,0,0-17.23-17.236,17.229,17.229,0,0,0-17.23,17.236,40.077,40.077,0,0,1-40.034,40.027,17.227,17.227,0,0,0-17.23,17.23A17.223,17.223,0,0,0-264.24,353Z' transform='translate(335.079 105.569)'/%3E%3Cpath class='b' d='M-258.981,353a17.227,17.227,0,0,0,17.23-17.23,17.231,17.231,0,0,0-17.23-17.23,40.077,40.077,0,0,1-40.034-40.027,17.233,17.233,0,0,0-17.23-17.236,17.234,17.234,0,0,0-17.236,17.236A74.577,74.577,0,0,0-258.981,353Z' transform='translate(57.634 105.569)'/%3E%3Cpath class='b' d='M-269.785,461.742a40.083,40.083,0,0,1-40.04-40.034,40.085,40.085,0,0,1,40.04-40.04H-212.5A74.582,74.582,0,0,0-138,307.175a17.227,17.227,0,0,0-17.23-17.23,17.223,17.223,0,0,0-17.23,17.23A40.078,40.078,0,0,1-212.5,347.208h-57.289a74.58,74.58,0,0,0-74.5,74.5,74.583,74.583,0,0,0,74.5,74.493,17.231,17.231,0,0,0,17.23-17.23A17.231,17.231,0,0,0-269.785,461.742Z' transform='translate(0 258.476)'/%3E%3Cpath class='b' d='M-157.756,347.208h-57.289a40.078,40.078,0,0,1-40.034-40.034,17.227,17.227,0,0,0-17.23-17.23,17.229,17.229,0,0,0-17.236,17.23,74.583,74.583,0,0,0,74.5,74.493h57.289a40.079,40.079,0,0,1,40.034,40.04,40.078,40.078,0,0,1-40.034,40.034,17.233,17.233,0,0,0-17.236,17.23,17.233,17.233,0,0,0,17.236,17.23,74.583,74.583,0,0,0,74.5-74.493A74.58,74.58,0,0,0-157.756,347.208Z' transform='translate(292.003 258.476)'/%3E%3Cpath class='b' d='M22.157,666.774A17.226,17.226,0,0,0,4.927,684a40.079,40.079,0,0,1-40.034,40.04A40.085,40.085,0,0,1-75.147,684V525.205A41.279,41.279,0,0,0-49.682,534a41.379,41.379,0,0,0,29.873-12.751h37.1A40.071,40.071,0,0,1,57.319,561.28a17.233,17.233,0,0,0,34.466,0,74.577,74.577,0,0,0-74.493-74.493H-8.6a41.606,41.606,0,0,0-25.015-32.578c11.275-26.459,17.825-56.148,17.825-82.943,0-71.554-46.514-129.774-103.689-129.774s-103.7,58.22-103.7,129.774c0,26.833,6.569,56.573,17.876,83.064a41.593,41.593,0,0,0-24.755,32.458h-29.943a74.579,74.579,0,0,0-74.5,74.493,17.233,17.233,0,0,0,17.236,17.23,17.232,17.232,0,0,0,17.23-17.23,40.072,40.072,0,0,1,40.034-40.027h41.149A41.38,41.38,0,0,0-188.983,534a41.215,41.215,0,0,0,25.154-8.564V684a40.079,40.079,0,0,1-40.034,40.04A40.079,40.079,0,0,1-243.9,684a17.227,17.227,0,0,0-17.236-17.223A17.226,17.226,0,0,0-278.362,684a74.579,74.579,0,0,0,74.5,74.493A74.583,74.583,0,0,0-129.363,684V530.1a60.73,60.73,0,0,0,9.882.836,61.441,61.441,0,0,0,9.875-.836V684a74.579,74.579,0,0,0,74.5,74.493A74.578,74.578,0,0,0,39.387,684,17.222,17.222,0,0,0,22.157,666.774ZM-49.682,473.941a18.548,18.548,0,0,1,18.547,18.547,18.548,18.548,0,0,1-18.547,18.547,18.548,18.548,0,0,1-18.547-18.547A18.548,18.548,0,0,1-49.682,473.941Zm-139.3,37.094a18.548,18.548,0,0,1-18.547-18.547,18.548,18.548,0,0,1,18.547-18.547,18.548,18.548,0,0,1,18.547,18.547A18.548,18.548,0,0,1-188.983,511.035Z' transform='translate(52.172 0)'/%3E%3C/g%3E%3C/svg%3E");
	// background-repeat: no-repeat;
	// background-size: 553px auto;
	// background-position: 30vw center;

	@include breakpoint(medium) {
		// background-position: 15vw center;
	}

	@include breakpoint(large) {
		// padding: rem-calc(70px 110px 60px 60px);
		// background-position: 10vw center;
	}

	@include breakpoint(xlarge) {
		// background-position: 240px center;
	}
}

.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
	margin-bottom: 1em;
	padding: 0 1em;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.6;
}

.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
	font-size: 1.125em;
	text-align: right;
}

.wp-block-quote cite,
.wp-block-quote footer {
	color: currentColor;
	font-style: italic;
	font-weight: $semi-bold;
	font-size: rem-calc(15);
	text-transform: uppercase;
}

.wp-block-quote.has-text-align-right {
	border-left: none;
	border-right: 0.25em solid currentColor;
	padding-left: 0;
	padding-right: 1em;
}

.wp-block-quote.has-text-align-center {
	border: none;
	padding-left: 0;
}
.wp-block-quote.is-style-plain,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
	border: none;
}
