// ==============================================
// Footer
// ==============================================

.footer {
	padding-top: 98px;
	padding-bottom: 50px;
	background-color: var(--brand-neon-green);

	.logo {
		// margin-left: auto;
		// max-width: 254px;
	}

	.row {
		margin-bottom: 80px;
	}

	.column {
		// padding-top: 5px;
		// padding-right: 43px;
		text-align: right;

		&:first-of-type {
			padding-top: 0;
		}

		h3 {
			@extend %h5;
			margin-bottom: 28px;
			letter-spacing: 0.05em;
		}
	}

	.footer--menu {
		font-weight: $medium;
		font-size: rem-calc(16);

		.menu-item {
			padding-bottom: 4px;
			text-transform: none;

			a {
				color: black;
			}
		}
	}

	footer-summary {
		@extend %row;

		p {
			font-size: rem-calc(13);
		}
	}

	.copyright,
	.credit {
		flex: 0 0 50%;
		max-width: 50%;
		font-size: rem-calc(13);
	}

	.credit {
		text-align: right;
	}
}
