// ==============================================
// Footer
// ==============================================

.footer {
	margin-top: 100px;
	padding: $large-spacing $small-spacing;
	color: white;
	text-align: center;
	background-color: black;
}

.footer--summary {
	justify-content: center;

	.logo {
		margin: 0 auto $large-spacing;
	}

	.footer--desc {
		margin: 0 auto;
		max-width: $global-width;
	}

	.footer--social {}
}

.footer--end {

	@include breakpoint(medium) {
		.copyright {
			text-align: left;
		}
	}

	@include breakpoint(medium) {
		.credit {
			text-align: right;
		}
	}
}
