// ==============================================
// Header
// ==============================================

.a11y-skip {
	@extend %show-for-sr;
}

// Global logo style
.logo {
	display: block;
	margin-bottom: 0;
	width: rem-calc(170px);
	height: rem-calc(47px);
	outline: 1px dashed blue;

	a {
		display: block;
	}
}

.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	outline: 1px dashed #f0f;

	.logo {}

	// groups everything to appear in mobile menu
	.header--inner {
		background-color: var(--brand-l-grey);
		outline: 1px dashed orange;
	}

	// primary menu on mobile and desktop
	.primary-menu {}

	.header--shop-links {
		outline: 1px dashed green;

		.menu-item {
			display: inline-block;
			margin-bottom: 0;
			padding: $small-spacing;
			font-size: rem-calc(15px);

			a {
				display: block;
			}
		}
	}

	// remove later
	margin-bottom: 100px;
}
