// ==============================================
// Header
// ==============================================

.a11y-skip {
	@extend %show-for-sr;
}

// Global logo style
.logo {
	display: block;
	margin-bottom: 0;

	a {
		display: block;
	}
}

.header {
	border-bottom: 2px solid var(--brand-neon-green);

	@include breakpoint(medium down) {
		background-color: black;
		height: calc(15px + 50px + 15px);
	}

	@include breakpoint(xlarge) {
		padding: rem-calc(32px 49px 47px);
	}

	.logo {
		width: rem-calc(153px);

		@include breakpoint(medium down) {
			position: absolute;
			top: 15px;
			left: calc(100vw + 15px);
		}
	}

	// groups everything to appear in mobile menu
	.header--inner {

		@include breakpoint(large) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}
	}

	.header--shop-links {

		.menu-item {
			display: inline-block;
			margin-bottom: 0;
			width: 50px;
			height: 50px;
			color: white;
			font-size: rem-calc(14px);
			text-transform: uppercase;
			letter-spacing: 0.05em;

			a {
				display: block;
				padding-top: 12px;
				text-align: center;
			}

			.svg {
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				fill: var(--brand-neon-green);
			}
		}
	}
}

// when the offcanvas opens
.primary-navigation-open {

	.header {

		.logo {
			left: 15px;
		}
	}
}


