// ==============================================
// Header
// ==============================================

.a11y-skip {
	@extend %show-for-sr;
}

// Global logo style
.logo {
	display: block;
	margin-bottom: 0;

	a {
		display: block;
	}
}

.header {
	border-bottom: 2px solid var(--brand-neon-green);
	background-color: black;

	@include breakpoint(medium down) {
		background-color: black;
		height: calc(15px + 50px + 15px);
	}

	@include breakpoint(xxlarge) {
		padding: rem-calc(29px 49px 42px);
	}

	// groups everything to appear in mobile menu
	.header--inner {
		position: relative;

		@include breakpoint(large) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			text-align: center;
		}

		@include breakpoint(large) {
			padding: 15px;
		}

		.logo {
			width: rem-calc(153px);
	
			@include breakpoint(medium down) {
				position: absolute;
				top: 15px;
				left: calc(100vw + 15px);
			}

			@include breakpoint(large) {
				order: 0;
			}
		}

		.primary--menu {
			@include breakpoint(large) {
				order: 2;
			}

			@include breakpoint(xxlarge) {
				order: unset;
			}
		}

		.header--shop-links {
			@include breakpoint(large ) {
				order: 1;
			}

			@include breakpoint(xxlarge) {
				order: unset;
			}
		}
	}

	.header--shop-links {

		.menu-item {
			display: inline-block;
			margin-bottom: 0;
			width: 50px;
			height: 50px;
			color: white;
			font-size: rem-calc(14px);
			text-transform: uppercase;
			letter-spacing: 0.05em;

			a {
				display: block;
				padding-top: 12px;
				text-align: center;
			}

			.svg {
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				fill: var(--brand-neon-green);
			}
		}
	}
}

// when the offcanvas opens
.primary-navigation-open {

	.header {

		.logo {
			left: 15px;
		}
	}
}


