// ==============================================
// Hero Intro
// ==============================================

.hero-intro {

    .row {
        @include breakpoint(large) {
            height: 80vh;
        }
    }

    .hero-intro--image {
        height: 40vh;
        background: url('../img/green-car-angle-bg.jpg') right center no-repeat;
        background-size: cover;

        @include breakpoint(medium down) {
            margin-bottom: 1em;
        }

        @include breakpoint(large) {
            flex: 1 1 0px;
        }
    }

    .hero-intro--content {
        @include breakpoint(medium down) {
            padding-bottom: $large-spacing;
        }

        @include breakpoint(large) {
            display: flex;
            flex-flow: row wrap;
            align-content: center;
        }
    }
}
