.new_in_carousel_buttons, 
.popular_carousel_buttons {
	position: relative;

	.slick-next,
	.slick-prev {
		&:focus {
			top: calc(50% - 2px);
		}
	}

	.slick-next {
	    width: 30px;
	    height: 30px;
	    justify-content: flex-start;
	    z-index: 1000;
	    left: auto;
		right: 30px;
	    display: flex;
	    align-items: center;

	    .slick-next-icon {
		    &:before {
		    	content: '';
		    	width: 20px;
	    		height: 20px;
	    		background: url('../img/arrow-left-white.png') center/contain no-repeat;
				display: inline-block;
		    }
		}
	}
	.slick-prev {
	    width: 30px;
	    height: 30px;
	    justify-content: flex-end;
	    z-index: 1000;
	    right: 75px;
		left: inherit;
	    display: flex;
	    align-items: center;

	    .slick-prev-icon {
		    &:before {
		    	content: '';
		    	width: 20px;
	    		height: 20px;
	    		background: url('../img/arrow-right-white.png') center/contain no-repeat;
				display: inline-block;
		    }
		}
	}
}
.new_in_carousel, 
.popular_carousel {
	background-color: var(--brand-color-grey);
	position: relative;
	overflow: hidden;

	a {
		display: block;
		&:hover,
		&:focus {

			img {
				mix-blend-mode: multiply;
			}
		}
	}

	product-card {

		.picture {
			position: relative;
			overflow: hidden;
			height: 30vh;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				background-color: var(--brand-neon-green);
			}

			img {
				z-index: 1;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}

	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: inherit !important;
	}
}