// ==============================================
// Single Product
// single-product.php
// ==============================================

// CSS Grid
// ==============================================

.single-product .woo-container {
	@include breakpoint(large) {
		display: grid;
		grid-template-columns:
			minmax($small-spacing, 1.5vw)
			97vw
			minmax($small-spacing, 1.5vw);
		grid-template-rows:
			auto
			auto
			auto
			auto;
		gap: 0px;
		grid-template-areas:
			". 					single-bread-notices 	."
			". 					single-product 			."
			"related-products 	related-products 		related-products"
			"upsells 			upsells 				upsells";
	}

	@media screen and (min-width: 1370px) {
		grid-template-columns:
			minmax($small-spacing, 16.666%)
			1fr
			minmax($small-spacing, 16.666%);
	}

	.woocommerce-breadcrumb {
		@include breakpoint(large) {
			grid-area: single-bread-notices;
		}
	}

	.woocommerce-notices-wrapper {
		@include breakpoint(large) {
			grid-area: single-bread-notices;
		}
	}

	> .product {
		@include breakpoint(large) {
			grid-area: single-product;
			margin-left: auto;
			margin-right: auto;
			width: $global-width;
		}
	}

	.related.products {
		@include breakpoint(large) {
			// grid-area: related-products;
			grid-area: upsells;
		}
	}

	.upsells {
		@include breakpoint(large) {
			// grid-area: upsells;
			grid-area: related-products;
		}
	}
}

// CSS Sub Grid - split the page into Gallery and content
// =======================================================

.single-product .woo-container {
	> .product {
		@include breakpoint(large) {
			display: grid;
			grid-template-columns: 48vw 2vw 47vw;
			grid-template-rows: auto;
			gap: 0px;
			grid-template-areas: "product-gallery . product-description";
		}

		// $global-width: 1340px;
		@media screen and (min-width: $global-width) {
			grid-template-columns:
				minmax($small-spacing, 768px)
				1fr
				minmax($small-spacing, 60ch);
		}

		.woocommerce-product-gallery {
			@include breakpoint(large) {
				grid-area: product-gallery;
			}
		}

		.single-product-description {
			@include breakpoint(large) {
				grid-area: product-description;
			}
		}
	}
}
