// ==============================================
// Single Product
// single-product.php
// ==============================================

// Styles
// ==============================================


.woocommerce-notices-wrapper {

    @include breakpoint(large) {
        margin-left: auto;
        text-align: right;
        max-width: 50%;
    }
}

.single-product {

    .single-product-description {
        padding: $small-spacing;
    }

    .entry-summary {
        margin-bottom: rem-calc(50);
    }
}

.stock {

    &.out-of-stock {
        color: red;
    }
}


