// ==============================================
// Single Product
// single-product.php
// ==============================================

// CSS Grid
// ==============================================

.single-product .woo-container {
	@include breakpoint(large) {
		display: grid;
		grid-template-columns:
			minmax($small-spacing, 1.5vw)
			97vw
			minmax($small-spacing, 1.5vw);
		grid-template-rows:
			auto
			auto
			auto
			auto;
		gap: 0px;
		grid-template-areas:
			". 					single-bread-notices 	."
			". 					single-product 			."
			"related-products 	related-products 		related-products"
			"upsells 			upsells 				upsells";
	}

	@media screen and (min-width: 1370px) {
		grid-template-columns:
			minmax($small-spacing, 16.666%)
			1fr
			minmax($small-spacing, 16.666%);
	}

	.woocommerce-breadcrumb {
		@include breakpoint(large) {
			grid-area: single-bread-notices;
		}
	}

	.woocommerce-notices-wrapper {
		@include breakpoint(large) {
			grid-area: single-bread-notices;
		}
	}

	> .product {
		@include breakpoint(large) {
			grid-area: single-product;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.related.products {
		@include breakpoint(large) {
			// grid-area: related-products;
			grid-area: upsells;
		}

		.product-info {
			display: grid;
			// grid-template-columns: 60% 40%;
			grid-template-rows: repeat(1, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			.woocommerce-loop-product__title {
                text-transform: capitalize;
                line-height: 1.375;
				font-weight: 400;
			}

			.product--category {
				color: var(--brand-dark-green);
			}
		}
	}

	.upsells {
		@include breakpoint(large) {
			// grid-area: upsells;
			grid-area: related-products;
		}
	}
}

// CSS Sub Grid - split the page into Gallery and content
// =======================================================

.single-product .woo-container {
	> .product {
		@include breakpoint(large) {
			display: grid;
			grid-template-columns: 48vw 2vw 38vw;
			grid-template-rows: auto;
			gap: 0px;
			grid-template-areas: "product-gallery . product-description";
			padding: rem-calc(50);
		}

		.woocommerce-product-gallery {
			@include breakpoint(large) {
				grid-area: product-gallery;
			}
		}

		.variations_form {
			margin-bottom: $xxlarge-spacing;

			.variations {
				display: flex;
				th {
					&.label {
						display: none;
					}
				}
			}

			.single_variation_wrap {

				.woocommerce-variation-add-to-cart {

					display: flex;
					justify-content: space-between;

					@include breakpoint(medium down) {
						display: block;
					}

					.quantity {
						flex: 0 0 50%;
						max-width: 50%;

						@include breakpoint(medium down) {
							max-width: 100%;
						}
					}
				}
			}
		}

		.cart:not(.variations_form) {
			margin-bottom: $xxlarge-spacing;
			display: flex;
			justify-content: space-between;

			@include breakpoint(medium down) {
				display: block;
			}

			.quantity {
				flex: 0 0 50%;
				max-width: 50%;

				@include breakpoint(medium down) {
					max-width: 100%;
				}
			}
		}

		.single-product-description {
			@include breakpoint(large) {
				grid-area: product-description;
			}

			// .summary {
			// 	background-color: var(--off-white);
			// 	border: 2px solid var(--brand-neon-green);
			// 	color: black;
			// 	border-radius: 5px;
			// 	padding: 20px;
			// }

			.woocommerce-product-details__short-description {
				p {
					margin-bottom: $small-spacing;
					line-height: $large-spacing;
				}
			}

			.price {
				font-size: var(--size-l-4);
			}
		}
	}
}
