// ==============================================
// Single Product
// single-product.php
// ==============================================

// Styles
// ==============================================

.woocommerce-breadcrumb {

    @include breakpoint(large) {
        max-width: 50%;
    }
}

.woocommerce-notices-wrapper {

    @include breakpoint(large) {
        margin-left: auto;
        text-align: right;
        max-width: 50%;
    }
}

.single-product .type-product {
    margin-top: rem-calc(50);

    .single-product-description {
        padding: $small-spacing;
    }

    .entry-summary {
        margin-bottom: rem-calc(30);
    }
}
