// ==============================================
// Taxonomy
// taxonomy-product-cat.php
// ==============================================

// To move pagination further up on mobile devices...

.archive .woo-container {
	// Perf loading, ref: https://web.dev/content-visibility/
	> *:not(.woocommerce-breadcrumb, header) {
		content-visibility: auto;
	}

	@include breakpoint(medium down) {
		display: flex;
		flex-flow: column wrap;

		.woocommerce-breadcrumb {
			order: 0;
		}

		.woocommerce-products-header {
			order: 1;
		}

		.woocommerce-notices-wrapper {
			order: 2;
		}

		// "showing 1-2 of xx results"
		.woocommerce-result-count {
			order: 3;
		}

		// "Sort by popularity"
		.woocommerce-ordering {
			order: 3;
		}

		> .products {
			order: 4;
		}

		.shop-sidebar {
			order: 6;
		}

		// moved
		.woocommerce-pagination {
			order: 5;
		}
	}
}

// CSS Grid
// ==============================================

.archive .woo-container, .archive .search_results, .archive .woof_shortcode_output {
	@include breakpoint(medium) {
		display: grid;
		gap: 0;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(8, auto);
		grid-template-areas:
			"tax-bread			tax-bread"
			"tax-notice			tax-notice"
			"tax-head			tax-head"
			"tax-result-count	tax-ordering"
			"tax-content		tax-content"
			"woo-pagination		woo-pagination"
			"tax-sidebar		tax-sidebar"
			"recently-viewed	recently-viewed";
	}

	@include breakpoint(large) {
		grid-template-columns:
		$medium-spacing
		auto
		1fr
		1fr
		1fr
		$medium-spacing;
		grid-template-rows: auto auto auto auto auto auto;
		grid-template-areas:
			". 			tax-bread 			tax-bread 			tax-notice 			tax-notice 			."
			"tax-head 	tax-head 			tax-head 			tax-head 			tax-head 			tax-head"
			".			tax-result-count	tax-result-count	tax-ordering		tax-ordering		."
			". 			tax-sidebar 		tax-content 		tax-content 		tax-content 		."
			". 			woo-pagination 		woo-pagination 		woo-pagination 		woo-pagination 		."
			". 			recently-viewed 	recently-viewed		recently-viewed		recently-viewed		.";
	}
}

.woocommerce-breadcrumb {
	@include breakpoint(medium) {
		grid-area: tax-bread;
	}
}

.woocommerce-products-header {
	
	@include breakpoint(medium) {
		grid-area: tax-head;
		gap: 0;
		
		// display: grid;
		// grid-template-columns:
		// 	$small-spacing
		// 	minmax(40%, 342.5px) //25%
		// 	minmax(60%, 342.5px) //25%
		// 	$small-spacing;
		// grid-template-rows: auto auto;
		// grid-template-areas:
		// 	". taxonomy-head-wrap tax-image ."
		// 	". taxonomy-head-wrap tax-image ."
	}
}

.woocommerce-products-header__title.page-title {
	display: none;
}

// .page-title {
// 	@include breakpoint(large) {
// 		grid-area: taxonomy-head-wrap;
// 	}
// }

// .term-description {
// 	@include breakpoint(large) {
// 		grid-area: taxonomy-head-wrap;
// 	}
// }

.taxonomy-head-wrap {
	@include breakpoint(medium) {
		grid-area: taxonomy-head-wrap;
	}
}

.woo-picture {
	@include breakpoint(medium) {
		grid-area: tax-image;
	}
}

.woocommerce-notices-wrapper {
	@include breakpoint(medium) {
		grid-area: tax-notice;
	}
}

.woocommerce-result-count {
	@include breakpoint(medium) {
		grid-area: tax-result-count;
	}
}

.woocommerce-ordering {
	@include breakpoint(medium) {
		grid-area: tax-ordering;
	}
}

.archive .woo-container {

	// UL
	> .products {
		@include breakpoint(medium) {
			grid-area: tax-content;
		}
	}

	// when no products in category..
	.woocommerce-info {
		@include breakpoint(medium) {
			grid-area: woo-pagination;
		}
	}
}

ul.products {
	@include breakpoint(medium) {
		grid-area: tax-content;
	}
}

.shop-sidebar {
	@include breakpoint(medium) {
		grid-area: tax-sidebar;
	}
}

.woocommerce-pagination {
	@include breakpoint(medium) {
		grid-area: woo-pagination;
	}
}

// .recently-viewed {
// 	@include breakpoint(large) {
// 		grid-area: recently-viewed;
// 	}
// }
