// ==============================================
// Taxonomy
// taxonomy-product-cat.php
// ==============================================

// The /shop/ page
@include breakpoint(medium down) {
    .woocommerce-shop {

        .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
            margin-top: 0;
            margin-bottom: 0;
        }

        .wp-block-media-text__content {
            padding: 0 $medium-spacing;
        }
    }
}

// Styles
// ==============================================

// .woo-container {
//     background-image: linear-gradient(180deg, black 0%, black 21%, var(--off-white) 26%, var(--off-white) 100%), 
//                     url('../img/body-bg-1.png');
// 	background-position: 0 0, 
//                         right top;
// 	background-repeat: no-repeat;
// 	background-size: 100% auto;
// }

.woocommerce-products-header {
    margin-bottom: $large-spacing;
    padding: $large-spacing;
    color: var(--off-white);
    background-color: var(--off-black);

    // @include breakpoint(medium) {
    //     margin-bottom: rem-calc(100);
    // }
}

.woocommerce-result-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $medium-spacing;
    height: rem-calc(50); // to match the select
    color: black;
    // background-color: rgba(black, 90%);

    @include breakpoint(large) {
        justify-content: flex-start;
    }
}

.woocommerce-ordering {
    margin-bottom: rem-calc(50);
    padding: 0 $medium-spacing;
    width: 100%;

    // @include breakpoint(medium) {}

    .orderby {
        margin-bottom: 0;
    }
}

.shop-sidebar {
    padding: $small-spacing;
    background-color: rgba( #50e887, 0.3);
    border-radius: rem-calc(5);

    @include breakpoint(large) {
        margin-right: rem-calc(15);
        width: 24.5vw;
    }
}

// global styles
// UL
.products {

    .product {

        a {
            .woocommerce-loop-product__title {
                font-size: 0.85rem !important;
                text-transform: capitalize;
                line-height: 1.375;
            }
        }
    }
}

.woocommerce-pagination {
    // margin-bottom: rem-calc(50);
    padding: rem-calc(50px 15px);

    // UL
    ul.page-numbers {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline;
            padding-bottom: 0;

            span, a {
                display: inline-block;
                margin: 5px 0;
                padding: 0 7px;
                min-width: rem-calc(50);
                height: rem-calc(50);
                color: black;
                line-height: rem-calc(50);
                background-color: var(--brand-neon-green);

                &.dots {
                    color: var(--off-white);
                    background-color: transparent;
                }

                &:hover,
                &:focus {
                    color: var(--off-white);
                    background-color: transparent;
                }

                &.current {
                    color: var(--off-white);
                    background-color: transparent;
                }
            }
        }
    }
}
