// ==============================================
// Taxonomy
// taxonomy-product-cat.php
// ==============================================

// The /shop/ page
@include breakpoint(medium down) {
    .woocommerce-shop {

        .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
            margin-top: 0;
            margin-bottom: 0;
        }

        .wp-block-media-text__content {
            padding: 0 $medium-spacing;
        }
    }
}

// Styles
// ==============================================

.woocommerce-products-header {
    padding: $large-spacing;
    // background-color: var(--brand-l-grey);

    // @include breakpoint(medium) {
    //     margin-bottom: rem-calc(100);
    // }
}

.woocommerce-result-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $medium-spacing;
    height: rem-calc(66); // to match the select
    background-color: rgba(black, 90%);

    @include breakpoint(large) {
        justify-content: flex-start;
    }
}

.woocommerce-ordering {
    margin-bottom: rem-calc(50);
    padding: 0 $medium-spacing;
    width: 100%;

    @include breakpoint(medium) {}

    .orderby {
        margin-bottom: 0;
    }
}

.shop-sidebar {
    // padding: $large-spacing;

    @include breakpoint(large) {
        margin-right: 25px;
        width: 24vw;
    }
}

// global styles
// UL
.products {

    .product {

        a {
            .woocommerce-loop-product__title {
                font-size: 1rem !important;
                text-transform: capitalize;
            }
        }
    }
}

.woocommerce-pagination {
    // margin-bottom: rem-calc(50);
    padding: rem-calc(50px 15px);

    // UL
    ul.page-numbers {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline;
            padding-bottom: 0;

            span, a {
                display: inline-block;
                margin: 5px 0;
                padding: 0 7px;
                min-width: rem-calc(50);
                height: rem-calc(50);
                color: black;
                line-height: rem-calc(50);
                background-color: var(--brand-neon-green);

                &.dots {
                    color: var(--off-white);
                    background-color: transparent;
                }

                &:hover,
                &:focus {
                    color: var(--off-white);
                    background-color: transparent;
                }

                &.current {
                    color: var(--off-white);
                    background-color: transparent;
                }
            }
        }
    }
}
