// ==============================================
// WooCommerce /checkout/
// ==============================================

.woocommerce-checkout {

	.woocommerce {
		display: flex;
		flex-flow: row wrap;

		.column {
			// small-12
			flex: 0 0 100%;
			max-width: 100%;

			@include breakpoint(large) {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
}

// expanding panels... grouped by Jquery

.woocommerce-form-login-toggle {
	@extend %alert;
	@extend %info;
	margin-bottom: $small-spacing;

	a {
		color: darken($alert-info, 50%);
	}
}

.woocommerce-form-login {
	@extend %alert;
	@extend %info;
	margin-bottom: $large-spacing;
	text-align: left;
}

.woocommerce-form-coupon-toggle {
	@extend %alert;
	margin-bottom: $small-spacing;
	background-color: var(--brand-l-grey);
	border:none;

	.woocommerce-info {
		border: none;
		background-color: var(--brand-l-grey);
		color: black;
	}

	a {
		&:hover {
			text-decoration: underline;
		};
	}
}

.woocommerce-form-coupon {
	@extend %alert;
	text-align: left;
	background-color: var(--brand-l-grey);
	border:none;
}


// form
[name="checkout"] {
	display: flex;
	flex-flow: row wrap;
	padding-top: $xxlarge-spacing;
	// small-12
	flex: 0 0 100%;
	max-width: 100%;

	#customer_details {
		label {
			color: var(--off-black);
		}
	}

	.woocommerce-NoticeGroup {
		padding: 0;
		flex: 0 0 100%;
    	max-width: 100%;

		ul {
			li {
				margin-left: $medium-spacing;
			}
		}
	}

	> * {
		@include column();
		// small-12
		flex: 0 0 100%;
		max-width: 100%;

		@include breakpoint(large) {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}

	h3 {
		position: relative;
		display: inline-block;
		margin-bottom: $large-spacing;
		// font-weight: 400;

		&::after {
			content: '';
			position: relative;
			display: block;
			bottom: 0;
			width: 80%;
			height: 4px;
			background-color: green;
		}
	}

	[type=submit], 
	[type=button] {
		color: var(--off-black);
	}
}

.woocommerce-checkout-review-order-table {

	.cart-subtotal {

		th, td {
			color: black;
			background-color: var(--brand-l-grey);
		}
	}
}

.woocommerce-checkout-payment {
	margin-bottom: $xxlarge-spacing;
	padding: $small-spacing;
	border: 2px solid var(--brand-neon-green);
	background-color: var(--off-white);
	color: var(--off-black);

	.wc_payment_methods {
		list-style: none;
		margin: 0 !important;
		padding: 0 !important;

		li {
			padding: $small-spacing;
			border-bottom: 1px solid var(--brand-l-grey);
		}
	}

	.place-order {
		padding: $small-spacing;
	}
}


// Order received
.woocommerce-order {
	display: flex;
    flex-flow: row wrap;
    padding-top: 2.5rem;
    flex: 0 0 100%;
    max-width: 100%;

	p, ul {
		flex: 0 0 100%;
    	max-width: 100%;
		margin-bottom: $medium-spacing;

		&.woocommerce-thankyou-order-received {
			margin: 0;
			padding-top: $large-spacing;
			background-color: var(--off-white);
			border-top: 3px solid var(--brand-neon-green);
			border-left: 3px solid var(--brand-neon-green);
			border-right: 3px solid var(--brand-neon-green);
			font-size: var(--size-l-4);
		}
		&.woocommerce-thankyou-order-details {
			margin: -2px 0 $large-spacing 0;
			background-color: var(--off-white);
			color: var(--off-black);
			padding: $xxlarge-spacing;
			border-bottom: 3px solid var(--brand-neon-green);
			border-left: 3px solid var(--brand-neon-green);
			border-right: 3px solid var(--brand-neon-green);
		}
	}

	p {
		&:last-of-type {
			display: none;
		}
	}

	section {
		@include column();
		// small-12
		flex: 0 0 100%;
		max-width: 100%;

		@include breakpoint(large) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		
		address {
			padding: $large-spacing;
			background-color: var(--off-white);
			color: var(--off-black);
			border: 2px solid var(--brand-neon-green);
		}
	}
}